/* Google fonts link  */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

/* Global */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  text-decoration: none;
  list-style: none;
}
:root{
    --primary-color: #0b85ff;
    --secondary-color: #eaeaea;
    --third-color: #fff;
}
body{
    height: 100vh;
    overflow: hidden;
}
.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: var(--secondary-color);
    position: relative;
}
.wrapper{
    height: 270px;
    width: 420px;
    background-color: #0b85ff;
    padding: 30px 30px 35px;
    border-radius: 7px;
    transition: height .2s ease;
}
.wrapper.active{
    height: 525px;
}
.wrapper form{
    height: 210px;
    background-color: var(--third-color);
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-radius: 7px;
    cursor: pointer;
    transition: height .2s ease;
}
.wrapper.active form{
    height: 225px;
    pointer-events: none;
}
form img{
    display: none;
    max-width: 148px;
}
.wrapper.active form img{
    display: block;
}
.wrapper.active form .content{
    display: none;
}
form .content i{
    color: var(--primary-color);
    font-size: 55px;
}
form .content p{
    color: var(--primary-color);
    font-size: 16px;
    margin-top: 15px;
}
.wrapper .details{
    margin-top: 25px;
    opacity: 0;
    pointer-events: none;
}
.wrapper.active .details{
    opacity: 1;
    pointer-events: auto;
    transition: opacity .5s .05s ease;
}
.details textarea{
    width: 100%;
    height: 128px;
    background: none;
    outline: none;
    color: var(--third-color);
    font-size: 18px;
    padding: 10px 15px;
    border-radius: 5px;
    /* resize: none; */
    overflow: hidden;
    border: 1px solid var(--third-color);
    /* white-space: pre !important; */
}
.buttons{
    display: flex;
    margin-top: 20px;
    justify-content: space-between;
}
button{
    height: 55px;
    width: calc(100%/2 - 10px);
    background-color: var(--third-color);
    border-radius: 5px;
    outline: none;
    border: none;
    color: var(--primary-color);
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
}
#author{
    position: absolute;
    bottom: 0;
    font-size: 1.2rem;
}
#author a{
    color: #0b85ff;
}
#theme-setting{
    position: absolute;
    top: 4px;
    right: 25px;
}




/* Media Queries  */
@media only screen and (max-width: 600px){
    html,body{
        overflow: hidden;
    }
}
@media only screen and (max-width: 320px){
    .details textarea{
        height: 151px;
    }   
}